<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>repos info</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
</head>
<body>

    <table>
        <thead>
            <tr>
                <td>Имя параметра</td>
                <td>Значение параметра</td>
            </tr>
        </thead>

        <tbody>

            
            {% for key, value in repos_info.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
            

        </tbody>
    </table>    
</body>
</html>